* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: fantasy;
}

body {
    width: 100%;
    color: white;
}

header, footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

/*  header  */
#searchBar {
    display: flex;
}

#carousel {
    width: 50%;
    height: 50vh;
    border : 1px solid white;
}

/* footer */
#socials i {
    margin: 0 2px;
}