* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    color: white;
    font-family: fantasy;
    background-color: black;
}

header, footer, #show, #thumbnails, #allFilms {
    border: 1px solid white;
}

header, footer {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

/*  header  */
#searchBar {
    display: flex;
}

/* footer */
#socials i {
    margin: 0 2px;
}

/* poster */
#show, #poster {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container {
    justify-content: space-around;
}

section {
    padding: 1rem;
    background-color: black;
}

#show {
    width: 100%;

}

#thumbnails, #container{
    display: flex;
    flex-direction: column;
}

#thumbnails {
    height: 100%;
}

#thumbnails img, #allFilms img{
    width: 10rem;
    padding: 1rem 0;
}

#allFilms{
    display: flex;
    justify-content: center;
}

