* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: fantasy;
}

body {
    width: 100%;
}

header, #searchBar {
    display: flex;
    justify-content: space-between;
}

header div {
    height: 5vh;
    border: 1px black solid;
}

